name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'github-releases/**'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package_variant: [ apt-android-7, apt-android-5 ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build APKs
        shell: bash
        env:
          PACKAGE_VARIANT: ${{ matrix.package_variant }}
        run: |
          set -e

          if [ "$GITHUB_EVENT_NAME" == "pull_request" ]; then
              GITHUB_SHA="${{ github.event.pull_request.head.sha }}"
          fi

          CURRENT_VERSION_NAME=$(grep -m 1 'versionName' ./app/build.gradle | sed -E 's/.*"([^"]+)".*/\1/')
          RELEASE_VERSION_NAME="v${CURRENT_VERSION_NAME}+${GITHUB_SHA:0:7}"

          APK_DIR_PATH="./app/build/outputs/apk/debug"
          APK_VERSION_TAG="${RELEASE_VERSION_NAME}-${PACKAGE_VARIANT}-github-debug"
          APK_BASENAME_PREFIX="termux-app_${APK_VERSION_TAG}"

          echo "APK_DIR_PATH=$APK_DIR_PATH" >> $GITHUB_ENV
          echo "APK_VERSION_TAG=$APK_VERSION_TAG" >> $GITHUB_ENV
          echo "APK_BASENAME_PREFIX=$APK_BASENAME_PREFIX" >> $GITHUB_ENV

          export TERMUX_APP_VERSION_NAME="${RELEASE_VERSION_NAME/v/}"
          export TERMUX_APK_VERSION_TAG="$APK_VERSION_TAG"
          export TERMUX_PACKAGE_VARIANT="$PACKAGE_VARIANT"

          ./gradlew assembleDebug

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: Debug-APKs-${{ matrix.package_variant }}
          path: app/build/outputs/apk/debug/*.apk
